.Login_Nav {
  height: 100px;
  background-color: #133c72;
  padding: 20px 100px;
  margin-bottom: 50px;
  color: white;
  position: relative;
}

.login_form {
  margin: 0 35%;
}

.username {
  width: 30%;
  font-size: 14px;
  margin: auto;
}

.password {
  width: 30%;
  font-size: 14px;
  margin: auto;
}

.remember {
  font-size: 13px;
  margin: 20px 0px;
  /* margin: auto; */
}

.Login_button {
  text-align: center;
}

.role {
  font-size: 15px;
  margin: auto;
  margin-bottom: 40px;
}
