.Login_Nav {
  background-color: aqua;
  padding: 30px;
  padding-left: 100px;
  margin-bottom: 50px;
}

.login_form {
  margin: 0 35%;
}

.username {
  width: 30%;
  font-size: 14px;
  margin: auto;
}

.password {
  width: 30%;
  font-size: 14px;
  margin: auto;
}

.remember {
  font-size: 13px;
  margin: 20px 0px;
  /* margin: auto; */
}

.Login_button {
  text-align: center;
}

.role {
  font-size: 15px;
  margin: auto;
}
